<h1>Add new restaurant</h1>
 
<%= form_for @restaurant do |f| %>
        <% if @restaurant.errors.any? %>
                <h2>Error:</h2>
                <ul>
                         <% @restaurant.errors.full_messages.each do |message| %>
                                  <li><%= message %></li>
                         <% end %>
                </ul>
        <% end %>
<p>
        <%= f.label :name %><br />
        <%= f.text_field :name %><br />
<br />
        <%= f.label :description %><br />
        <%= f.text_area :description %>
<br />		
		<%= f.label :address %><br />
		<%= f.text_field :address %><br />
<br />
		<%= f.label :phone %><br />
		<%= f.text_area :phone %>
</p>
<p>
        <%= f.submit "Add new restaurant" %>
</p>
<% end %> 